<script>

function lw(){

var i = document.getElementById("in1").value;

var xhr = new XMLHttpRequest();

xhr.open("GET", "http://192.168.43.167/cgi-bin/my.py?x=" + i, true)   // true: sending the req in async way   

xhr.send(); //sending the request


xhr.onload = function() {

	var output = xhr.responseText;   // response back from above url
	document.getElementById("d1").innerHTML = output;
}

}
</script>
<center>
<b>[root@kalpit ~]# </b><input id="in1" >

<button onclick="lw()">Run </button>
</center>
<br/>
<pre>
<div id="d1">Output ......</div> 
</pre>